@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap");

body {
  font-family: "Spline Sans", sans-serif;
  color: #777;
  line-height: 1.7;
}

html {
  scroll-padding-top: 110px; /* height of sticky header */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover {
  color: #f58d17;
}

img {
  width: 100%;
}

.logo {
  height: 100px;
  background-size: cover;
}

/* Button & Menu*/

.btn {
  border-radius: 0%;
  padding: 14px 20px;
}

.btn-brand {
  background-color: #f58d17;
  border-color: #f58d17;
  font-weight: 500;
  color: white;
}

.btn-brand:hover {
  border-color: #fbb545;
  background-color: #fbb545;
  color: white;
}

.menu-btn {
  background-color: transparent;
  border-color: #f58d17;
  color: white;
  border: 3px solid;
}

.menu-btn:hover {
  border-color: #f58d17;
  background-color: #f58d17;
  color: white;
}
/* Navbar link effect */

.navbar-link {
  position: relative;
}

.navbar-link::after {
  content: "";
  opacity: 0;
  transition: all 0.3s;
  height: 2px;
  width: 30px;
  background-color: #ff8902;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.navbar-link:hover::after {
  opacity: 1;
}

/* Slider */

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/kagyana-2955466_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.41);
  width: 40px;
  height: 60px;
  margin: auto;
}

.white-block::before {
  content: "";
  height: 3px;
  width: 50px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.white-block::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

/* About */

.divider {
  width: 80px;
  height: 2px;
  display: block;
  background-color: #f58d17;
  margin-bottom: 16px;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu */

#menu .nav-pills .nav-link {
  border-radius: 0;
  background-color: white;
  border: 2px solid #f58d17;
  margin-left: 8px;
  margin-right: 8px;
  color: #f58d17;
}

#menu .nav-pills .nav-link.active {
  background-color: #f58d17;
  color: white;
  border: none;
}

.card-img-top {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.price-color {
  color: #ff8902;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Testimonial */

.testimonial-bg {
  background-color: #f58d17;
}

.review img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.review .quote-icon {
  font-size: 50px;
  color: #f58d17;
}

.carouselicon {
  background-color: #f58d17;
}

.carouseliconarrow {
  background-color: #f58d17;
}

/*Gallery */

.gallery-pic {
  height: 350px;
  object-fit: cover;
}
