@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap");

body {
  font-family: "Spline Sans", sans-serif;
  color: #777;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover {
  color: #f58d17;
}

img {
  width: 100%;
}


.logo {
  height: 100px;
 
  background-size: cover;
}

/* Button */

.btn {
  border-radius: 0%;
  padding: 14px 38px;
}

.btn-brand {
  background-color: #f58d17;
  border-color: #f58d17;
  font-weight: 500;
  color: white;
}

.btn-brand:hover {
  border-color: #fbb545;
  background-color: #fbb545;
  color: white;
}

/* Slider */

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/kagyana-2955466_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.41);
  width: 40px;
  height: 60px;
  margin: auto;
}

.white-block::before {
  content: "";
  height: 3px;
  width: 50px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.white-block::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

/* About */

.divider {
  width: 80px;
  height: 2px;
  display: block;
  background-color: #f58d17;
  margin-bottom: 25px;
}
